.calculadora {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    margin: 50px auto;
    text-align: center;
}

input[type="text"] {
    width: 180px;
    margin-bottom: 10px;
    text-align: right;
}

button {
    width: 44px;
    padding: 5px;
    margin: 2px;
}

.teclas-numeros, .teclas-operaciones {
    margin-bottom: 10px;
}

